{% extends 'shared/chat_room/_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> Register
            </div>
            <div class="msger-header-title">
                <a href="{% url 'home_page' %}">
                    <i class="fa fa-home"></i> Back to Home
                </a>
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>

        <main id="chat-messages" class="msger-main">
            <form action="{% url 'register_page' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center head-title">Register Account</h4>
                        <div class="register">
                            {{ register_form }}
                            {{ register_form.errors }}
                            <button type="submit" class="btn btn-success mt-4">register</button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </section>
{% endblock %}